.upload-btn-wrapper {
/*   position: relative;
  overflow: hidden;
  display: inline-block; 
  padding-top: 32px;*/
}

.btn-file {
  border: 2px solid #007bff;
  color: #007bff;
  background-color: white;
 /* padding: 8px 20px;*/
  border-radius: 8px;
  font-weight: bold;
  width: 40%;
  text-align: center;
}

.upload-btn-wrapper input[type=file] {
 
  left: 0;
  top: 0;
  opacity: 0;
  width: 40%;
}