.react-date-picker {
   
    position: relative;
}

.react-date-picker__wrapper {
     border: none !important;
     width: 100%;
}

.react-date-picker__inputGroup {
    
    border: 1px solid #f8f9fa !important;
  
}