@font-face {
    src: url('/fonts/Montserrat-Bold.ttf');
    font-family: "Montserrat-Bold";
}

@font-face {
    src: url('/fonts/Hind-Regular.ttf');
    font-family: "Hind-Regular";
}

@font-face {
    src: url('/fonts/Hind-Bold.ttf');
    font-family: "Hind-Bold";
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hind-Regular", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-wrapper {
    padding-left: 50px;
}

.sidenav---sidenav---_2tBP {
    background: #998FC7 !important;
}

img {
    max-width: 100%;
}

.icon-button {
    padding: 0;
    margin: 0 .1rem;
    border: none;
    background-color: transparent;
}

.icon-button i {
    color: var(--gray-dark);
}

.check-icon {
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .icon-button {
        padding: .2rem .4rem;
    }

    .icon-button.btn-primary{
        background-color: var(--primary);
        border: 1px solid var(--primary);
    }

    .icon-button.btn-danger{
        background-color: var(--danger);
        border: 1px solid var(--danger);
    }

    .icon-button i {
        color: var(--white);
    }
}