.div_main{
    padding-left: 6% !important;
    padding-right: 2%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}