extends layout

block content
  div(class="jumbotron-fluid" id="header")
    div(class="container")
      h1(class="text-center d-block")= title
      h2(class="text-center d-block text-muted") Home for writers around the world
  div(class="container")
    
    p(class="lead") Design showcase