extends layout

block content
  // HEADER
  div(class="jumbotron-fluid" id="header")
    div(class="container")
      h1(class="text-center display-2 d-block")= title
      h2(class="text-center font-weight-normal d-block text-muted") Home for writers around the world
  // NAV
  nav(class="navbar sticky-top navbar-light bg-light navbar-expand-md")
    a(href="#header" class="navbar-brand")= title
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="mainNav")
      div(class="navbar-nav")
        a(class="nav-item mx-lg-3 mx-xl-5 nav-link" href="#") Culture
        a(class="nav-item mx-lg-3 mx-xl-5 nav-link" href="#") Tech
        a(class="nav-item mx-lg-3 mx-xl-5 nav-link" href="#") Health
        a(class="nav-item mx-lg-3 mx-xl-5 nav-link" href="#") Music
      button(class="btn btn-outline-secondary ml-auto") Log In
      form(class="form-inline")
        input(type="search" class="form-control mx-2" placeholder="Search")
        button(type="submit" class="btn btn-outline-secondary")
          i(class="fas fa-search")
  // MAIN CONTENT
  div(class="container-fluid my-2 mx-xl-8 mx-lg-5 mx-md-2 mx-sm-1" id="main")
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
    div(class="card bg-light border-light m-2 d-inline-block")
      div(class="card-body")
        h4(class="card-title") Lorem ipsum dolor sit
        p(class="card-text text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nisi harum fugit, magni asperiores libero.
  // FOOTER
  div(class="footer jumbotron-fluid mt-auto bg-secondary text-light py-3" id="footer")
    div(class="container text-center")
      h5= title
      p &copy; DevRock 2019