extends layout

block content

  form(method='POST' action='/register')
    div
      label(for='name') Nombre:
      input#name.form-control(type='text', name='name')
    div
      label(for='last_name') Apellido:
      input#name.form-control(type='text', name='last_name')
    div
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='name@email.com' name='email')
    div
      label(for='favoriteBook') Nick_name:
      input#favoriteBook.form-control(type='text', name='nick_name')
    div
      label(for='pw') Contraseña:
      input#pw.form-control(type='password' name='password')
   
    button.btn.btn-primary(type='submit') Darme de alta
