.text-right
    - const latestClass = order === '-1' ? 'bold' : '';
    - const oldestClass = order === '1' ? 'bold' : '';
    a(href=`${linkOrder}order=-1`, class=`pl-1 pr-1 ${latestClass}`)=__('Latest')
    a(href=`${linkOrder}order=1`, class=`pl-1 pr-1 ${oldestClass}`)=__('Oldest')