extends ../layout

block content
  - const categoryExists = typeof category !== 'undefined';
  - const categoryParam = categoryExists ? `?category=${category}` : ''
  .container
    include ./_articles_cards
    include ../includes/_pagination
    .mt-3
      +pagination(categoryLink, categoryParam)

