
@import "./image.scss";


.main_nav{
  a {
    color: #545b62;
    font-weight: bold;
  }
}

.card {
  border: none !important;
}

.card {
  p {
    text-align: justify;
    color: #6c757d;
  }
  h4 h2 {
    color:black;
  }

}
.container-fluid {
  padding-top: 10%;
}


