extends ../layout

block content
    .container
        a=__('Articles')
        a(href=`/search/user?text=${text}`)=__('Users')

        if type === 'article'
            - const articles = models;
            include ../articles/_articles_cards
